/***********************
    style_main.css index
    =======================
    By AHJ
************************/

*,
::before,
::after {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}